<?php
$finder = PhpCsFixer\Finder::create()
    ->exclude('Protobuf')
    ->in(__DIR__ . '/src')
    ->in(__DIR__ . '/tests')
    ->in(__DIR__ . '/sandbox')
;

return PhpCsFixer\Config::create()
    ->setRules([
        'array_syntax' => ['syntax' => 'short'],
        'no_unused_imports' => true,
        'php_unit_fqcn_annotation' => true,
    ])
    ->setFinder($finder)
;
